* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', 'sans-serif';
  font-size: 23px;
  background-image: url('../assets/ae23f4aa04fb63b0d74e2f9e8fcfb355.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mob {
  display: none;
}


#app {
  height: 100%;
}

html, body {
  height: 100%;
}

@media screen and (max-width: 900px) {
  body {

    color: #fff;
    font-size: 12px;
  }

  .desk {
    display: none;
  }

  .mob {
    display: block;
  }
}

.container {
  padding: 16px;
}

.active {
  background: red;
  color: #fff;
  font-weight: bold;
  font-size: 30px;
}

ul {
  overflow: hidden;
}

li {
  cursor: pointer;
  padding-left: 100px;
  transition: all 0.3s;

  &:hover {
    transform: scale(1.1);
    padding-left: 300px;
  }
}